.app-container {
  display: flex;
  min-height: 100vh;
  height: auto;
  background-color: #f4f7fe;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: auto;
  min-height: 100vh;
  position: relative;
}
